isort==5.10.1
jupyter==1.0.0
opencv-python==4.6.0.66
pandas==1.5.2
pyyaml==6.0
tensorflow-addons==0.19.0
scikit-learn==1.0.2
scikit-image==0.19.2
tqdm==4.63.1
boto3==1.24.7
protobuf~=3.19.0
matplotlib ==3.6.2
seaborn==0.12.1
Pillow==9.3.0 #vidaug req1
scipy==1.9.3 #vidaug req2
vidaug==1.5
numpy==1.23.5